
.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 65%;
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
     margin: 0 auto;
 	 width: 100%;
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 100%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}

.inicio-form img{
  width:	25%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.senha{
	display:flex;
}

form i{
	margin-top:5px;
	margin-left:-25px;
}


